body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('../../images/neodon_bg.png');
    background-size: 100vw;
    background-repeat: repeat;
    background-position: top left;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar.navbar-1 {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    height: min-content;
}

.nav-link {
    color:rgb(126, 126, 126);
}

.nav-link:hover{
    color: rgb(0, 0, 0);
}

.img-logo-2 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    border-radius: 1px;
}

a {
    font-family: var(--framer-blockquote-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));
    font-style: var(--framer-blockquote-font-style, var(--framer-link-font-style, var(--framer-font-style, normal)));
    font-weight: var(--framer-blockquote-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 540)));
    font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 14px))* var(--framer-font-size-scale, 1));
    text-transform: var(--framer-blockquote-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none)));
    text-decoration: var(--framer-blockquote-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none)));
    cursor: var(--framer-custom-cursors, pointer);
    transition: all 0.5s ease;
}

.login-a {
    color: #8f5fff !important;
    opacity: 0.7;
} 

.login-a:hover {
    color: rgb(76, 0, 255) !important;
    opacity: 1;
}


.gradient-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--framer-blockquote-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));
    background: linear-gradient(180deg,  rgb(139, 92, 246) /* {"name":"blue-500"} */ 0%, rgb(123, 67, 255) 100%);
    border: none;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 10px; /* Roundy edges */
    color: white;
    width: auto;
    width: auto;
    box-shadow: rgba(30, 7, 81, 0.12) 0px 4px 6px 0px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.button-text {
    margin-right: 3px; /* Initial gap between text and arrow */
    transition: transform 0.3s ease;
}

.arrow-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: transform 0.3s ease;
}


@media (min-width: 810px) and (max-width: 1199px) {
    .front-page-4 {
        bottom: -38px;
        order: 1;
    }
}


.front-page-4 {
    margin-top: -80px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(223, 209, 254, 0.3) 49.549549549549546%, var(--token-e652bd0c-7546-4328-9bff-af612263f671, rgba(156, 117, 247, 0.5)) 100%);
    height: 101vh;
    overflow: hidden;
    box-shadow: rgba(30, 7, 81, 0.12) 0px 4px 6px 0px;
}

.gradient-button:hover {
    background: linear-gradient(180deg, rgb(123, 67, 255) 0%, rgb(139, 92, 246) 100%);
    transform: scaleX(1.04);
    background-size: 160% 160%;
}

.gradient-button:hover .button-text {
    transform: translateX(-5px); /* Move text slightly left */
}
  
.gradient-button:hover .arrow-container {
    transform: translateX(1px); /* Move arrow slightly right */
}

.gradient-button:focus {
    outline: none; /* Remove focus outline for a cleaner look */
}

.title-container-5 {
    display: flex;
    flex-direction: column;  /* Arrange divs vertically */
    align-items: left;     /* Center-align the divs horizontally */
    width: 100%;             /* Full container width */
    height: 100%;           /* Full viewport height (optional) */
    justify-content: center;
    position: relative;
    left: 3vw;
}

.title-box-6 {
    width: 95%;              /* Set each div to 80% of the screen width */
    padding: 5px;           /* Add padding inside each box */
    background-color: transparent; 
    /* box-shadow: rgba(30, 7, 81, 0.12) 0px 4px 6px 0px; */
}


.dots-bg-8 {
    width: 100%; 
    height: 100vh;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: -2;
}

.video-homepage-9 {
    width: 100%;
    height: 100vh;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
}

.title-dot-text-9 {
    width: 125px; 
    height: 28px; 
    gap: 8px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgb(201, 179, 253); 
    border-radius: 5px;
}

.dot-7 {
    background-color: rgb(93, 35, 228); 
    opacity: 1; 
    border-radius: 100%; 
    width: 6px; 
    height: 6px;
}

.dot-text-10 {
    font-size: 13px; 
    font-family: 'IBM Plex Mono', monospace; 
    font-weight: 550; 
    letter-spacing: 0.06em; 
    color: rgb(93, 35, 228);
}

.title-text-11 {
    font-family: 'Inter', 'Inter Placeholder', sans-serif; 
    letter-spacing: -1px; 
    color: black; 
    font-size: 80px; 
    width: 100%;
    font-weight: 600; 
    font-style: normal;
}


.container-logos-13 {
    overflow: hidden;
    --mask: linear-gradient(to right, 
      rgba(0,0,0, 0) 0,   rgba(0,0,0, 1) 40%, 
      rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    
    -webkit-mask: var(--mask); 
    mask: var(--mask);

    .slider {
      animation: slidein 60s linear infinite;
      white-space: nowrap;
      .logos {
        width: 100%;
        display: inline-block;
        
        .fab {
          height: 70px;
          width: auto;
          margin-right: 17%;
          animation: fade-in 0.3s ease;
        }

        @media screen and (max-width: 995px) {
            .fab {
                height: 50px;
            }
        }
      }
    }
}
  
@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-400%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.features-section-15 {
    width: 100%;
    padding: 10px 0px;
    gap: 70px;
}



.h2-text-1st-container-features-17 {
    font-family: 'Inter', 'Inter Placeholder', sans-serif; 
    letter-spacing: -2px; 
    color: black; 
    font-size: 56px; 
    font-weight: 600; 
    font-style: normal;
    z-index: 1;
}

p {
    font-family: 'Inter', 'Inter Placeholder', sans-serif; 
    color: rgb(99, 99, 99); 
    font-weight: 500; 
    font-size: 17px;
    text-align: justify;
}



.header-feature {
    font-family: 'Inter', 'Inter Placeholder', sans-serif; 
    letter-spacing: -2px; 
    color: black; 
    font-size: 45px; 
    font-weight: 600; 
    font-style: normal;
}

.container-card-title {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 19px;
    padding: 4px 0px;
    font-weight: 600;
    height: 30px;
}



.values-section-1 {
    width: 100%;
}

.sponsors-section-10 {
    width: 100%;
    background-color: rgba(245, 245, 245, .3);
    backdrop-filter: blur(10px);
}

.about-us-section-34 {
    width: 100%;
    background-color: rgba(245, 245, 245, .3);
    backdrop-filter: blur(10px);
}

.values-title-container .values-cards-container {
    box-shadow: #000000 0px 0px 0px 0px;
}

.logo-footer {
    width: 45px;
    height: 45px;
    border-radius: 1px;
}

.card-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(30, 7, 81, 0.12) 0px 4px 6px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


.container-features-img-2 {
    height: 100%;
}

.wrapper-center-1{
    max-width: 90vw !important;
}

.row-features-element-21 {
    width: 100vw;
}

.container-card-desc {
    width: 92%;
}


.container-features-text-wrapper-1 {
    padding: 30px 50px !important;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 0px 400px rgba(133, 33, 226, 0.3);
}

.container-features-text-wrapper-2 {
    padding: 30px 50px !important;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 0px 400px rgba(133, 33, 226, 0.3);
}

.container-features-text-wrapper-3 {
    padding: 30px 50px !important;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 0px 400px rgba(133, 33, 226, 0.3);
}

.container-features-text-wrapper-4 {
    padding: 50px 50px !important;
}

@media screen and (max-width: 995px) {

    .title-text-11 {
        font-size: 22px;
        width: 100%;
    }

    .dynamic-text-123 {
        font-size: 25px;
    }

    .gradient-button {
        font-size: 13px;
        padding: 10px 15px;
    }

    p {
        font-size: 14px;
    }

    .h2-text-1st-container-features-17 {
        font-size: 32px; 
    }

    .header-feature {
        font-size: 30px;
    }

    .title-card-text {
        font-size: 23px;
    }
    
    .features-section-15 {
        gap: 50px;
    }

    .container-features-img-2 {
        width: 100%;
    }


    .container-features-text-wrapper-1 {
        padding: 20px 30px !important;
        margin-left: 15px !important;
    }
    
    .container-features-text-wrapper-2 {
        padding: 20px 30px !important;
        margin-left: 15px !important;
    }
    
    .container-features-text-wrapper-3 {
        padding: 20px 30px !important;
        margin-left: 15px !important;
    }

    .container-sponsors-globe-wrapper-2 {
        margin-left: 20px !important;
        height: 400px !important;
    }

    .container-features-text-wrapper-4 {
        padding: 10px 10px !important;
    }


    .wrapper-center-1{
        max-width: 100vw !important;
    }
    
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInUp, .fadeInDown, .fade, .fadeInLeft, .fadeInRight {
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.fadeInLeft {
    animation-name: fadeInLeft
}

.fadeInRight {
    animation-name: fadeInRight
}

.fadeInDown {
    animation-name: fadeInDown;
}

.fade {
    animation-name: fade;
}

.globe-container {
    width: 100%;
    height: 100%;
}



.dynamic-text-123 {
    border-right: 2px solid rgb(93, 35, 228);
    white-space: nowrap;
    width: auto;
    display: inline-block;
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.with-arrow {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.with-arrow::after {
    content: '➔';
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    font-size: 10px;
    color: inherit;
}   

.founder-image-col {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.founder-photo {
    max-width: 300px !important;
    border-radius: 50%;
}


.linkedin-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    transition: all 0.3s ease;
}

.linkedin-overlay a {
    color: white;
    display: inline-block;
}

.founder-image-col:hover .linkedin-overlay{
    display: block ;
}

.linkedin-overlay a:hover {
    color: #469fff;
}

.founder-image-col:hover    {
    filter: brightness(80%); /* Dim the image on hover */
}

.large-linkedin-icon {
    width: 48px;
    height: 48px;
  }



/* EXTRA LARGE SCREENS*/
@media screen and (min-width: 2000px) and (min-height: 1200px) {

    .wrapper-center-1 {
        max-width: 60vw !important;
    }
}